<h1><%- include ('../partials/header.ejs') %></h1>
<h3></h3>
<a href='https://pngtree.com/so/professional-chef'>
    <img src="/—Pngtree—chef cartoon cartoon chef chef_6245382.jpg" alt="Pizza Chef">
</a>