<body>
<ul class="list-group">
  <%#each pizza%>
  <li class="list-group-item d-flex justify-content-between">
    <div><%this.restaurant%></div>
    <div class="links">
      <!-- for actions later -->
      </div>
      </form>
    </div>
  </li>
</ul>
</body>