<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <a href="/pizza/new" class="new-slice">New Slice</a>
    <ul style="display:flex;justify-content:space-between">
        <li><a href='/pizza'>Home</a></li>
        <li><a href='/pizza/connecticut'>Connecticut</a></li>
        <li><a href='/pizza/newjersey'>New Jersey</a></li>
        <li><a href='/pizza/newyork'>New York</a></li>
        <li><a href='/pizza/pennsylvania'>Pennsylvania</a></li>
    </ul>
    <%-body%>
</body>
</html>