<h2>Add a new Slice</h2>
<form action="/pizza" method="POST">
  <div class="form-group">
    <label for="Restaurant">Restaurant:</label>
    <input type="text" id="Restaurant" name="restaurant" class="form-control" />
    <label for="City">City:</label>
    <input type="text" id="City" name="city" class="form-control" />
    <label for="State">State:</label>
    <input type="text" id="State" name="state" class="form-control" />
    <label for="Rating">Rating:</label>
    <input type="text" id="Rating" name="rating" class="form-control" />
    <label for="Notes">Notes:</label>
    <input type="text" id="Notes" name="notes" class="form-control" />
  </div>
  <br>
  <input type="submit" class="btn btn-primary" />

  <a href="/pizza" class="btn btn-secondary">Cancel</a>
</form>